<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.joohee.A00.Mapper.BoardMapper">
	
	<select id ="getList" resultType="org.joohee.A00.VO.BoardVO" parameterType="org.joohee.A00.VO.Criteria">
		SELECT @ROWNUM:=@ROWNUM+1 AS R,P.*,F.*
		FROM project P LEFT JOIN finance F
		ON P.projectCode=F.projectCode,(SELECT @ROWNUM:=0)TEMP
		WHERE 1=1
		<include refid="search"></include>
		LIMIT #{pageStart},#{perPageNum}
		
	</select>
	<!-- ROWNUM 왜 안나오는지 확인  -->
	
	<select id="countBoardList" resultType="Integer">
		SELECT COUNT(*)
		FROM project P LEFT JOIN finance F
		ON P.projectCode=F.projectCode
		WHERE 1=1
		<include refid="search"></include>
		
	</select>
	<!-- where 1=1 왜 하는건지 -->
	
	<select id="read" resultType="org.joohee.A00.VO.BoardVO">
		SELECT *
		FROM project P LEFT JOIN finance F
		ON P.projectCode=F.projectCode
		WHERE P.projectCode =#{projectCode}
	
	
	</select>
	
	<insert id="insertP" useGeneratedKeys="true" keyProperty="projectCode" parameterType="org.joohee.A00.VO.BoardVO">
		INSERT INTO project(projectId,projectName,startDate,endDate,projectManager,projectContractor,projectArea,teamName)
		VALUES(#{projectId},#{projectName},#{startDate},#{endDate},#{projectManager},#{projectContractor},#{projectArea},#{teamName})
	
	</insert>
	
	<insert id="insertF" parameterType="org.joohee.A00.VO.BoardVO">
		INSERT INTO finance(projectCode,expense,outsourcingCost,netSales,sales,goods)
		VALUES(LAST_INSERT_ID(),#{expense},#{outsourcingCost},#{netSales},#{sales},#{goods})
	
	</insert>
	<!-- LAST_INSERT_ID()로 방금입력된 pk의 값을 가져옴-->
	
	<delete id="delete">
		DELETE 
		FROM project
		WHERE projectCode=#{projectCode}

	</delete>
	
	<update id="update" parameterType="org.joohee.A00.VO.BoardVO">
		UPDATE project P INNER JOIN finance F
			ON P.projectCODE = F.projectCode
		SET P.projectId=#{projectId},P.projectName=#{projectName},P.startDate=#{startDate},P.endDate=#{endDate}
		,P.projectManager=#{projectManager},P.projectContractor=#{projectContractor},P.projectArea=#{projectArea},P.teamName=#{teamName},
		F.expense=#{expense},F.outsourcingCost=#{outsourcingCost},F.netSales=#{netSales},F.sales=#{sales},F.goods=#{goods}
		WHERE P.projectCode=#{projectCode}

	</update>
	
	<sql id="search">
		<if test="searchType!=null">
			<if test="searchType =='N'.toString()">AND projectName LIKE CONCAT('%', '${keyword}', '%') </if>
		</if>
	
	
	</sql>
	<!--projectName 검색 -->

</mapper>